{{ ansible_managed | comment }}
ca server/ca.crt
cert server/server.crt
crl-verify server/crl.pem
dh server/dh.pem
explicit-exit-notify 1
dev tun
duplicate-cn
#group nogroup
ifconfig-pool-persist ipp.txt
keepalive 10 120
key server/server.key
#persist-key
#persist-tun
#push "redirect-gateway"
push "route {{ vpc_network }} {{ vpc_netmask }}"
push "route {{ vpn_network }} {{ vpn_netmask }}"
remote-cert-tls client
server {{ server_network }} {{ server_netmask }}
status openvpn-status.log
tls-auth server/ta.key 0
topology subnet
#user nobody
verb 3
