{{ ansible_managed | comment }}
ca client/ca.crt
cert client/client.crt
client
dev tun
#ifconfig {{ client_ip }} {{ client_netmask }}
key client/client.key
nobind
remote {{ openvpn_server }}
remote-cert-tls server
tls-auth client/ta.key 1
#persist-key
#persist-tun
#user nobody
#group nogroup
verb 3
