{{ ansible_managed | comment }}
#auth SHA512
ca /etc/openvpn/client/ca.crt
cert /etc/openvpn/client/client.crt
client
#compress lz4
dev tun
key /etc/openvpn/client/client.key
#key-direction 1
nobind
remote {{ openvpn_server }}
#remote-cert-tls server
#tls-auth /etc/openvpn/client/ta.key 1
#persist-key
#persist-tun
#user nobody
#group nogroup
verb 3
