{
  "exec-opts": [
    "native.cgroupdriver=systemd"
  ],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
{% if docker_registry_mirror_url != '' %}
  "registry-mirrors": [
    "{{ docker_registry_mirror_url }}"
  ],
{% endif %}
  "storage-driver": "overlay2"
}
