{{ ansible_managed | comment }}
HTTP_PROXY="{{ proxy_url }}"
HTTPS_PROXY="{{ proxy_url }}"
http_proxy="{{ proxy_url }}"
https_proxy="{{ proxy_url }}"
{% if no_proxy %}
NO_PROXY="{{  no_proxy }}"
no_proxy="{{  no_proxy }}"
{% endif %}
